{% extends "main.html" %}


    <h1 class="text-center">Task</h1>
    <h2 class="text-center">Assigned Tasks</h2>
    {% block content %}
       
        <div class="text-center" >
            <div class="card">
                <div class="card-body">
                    
    <h1 class="text-center">Task</h1>
    <h2 class="text-center">Assigned Tasks</h2>

    <div class="text-center">
        {% for task in tasks %}
            <div class="card my-3">
                <div class="card-body">
                    <h5 class="card-text">{{ task.createdByName }}</h5>
                    <h5 class="card-text ">{{ task.description }}</h5>
                    <h5 class="card-text">{{ task.assignedToName }}</h5>
                    <h5 class="card-text">{{ task.done }}</h5>

                    <form method="POST" action="{% url 'updated' taskUid=task.id %}" >
                       {%csrf_token%}
                       
                       <button type="submit" class="btn btn-danger">Update</button>
                    </form>
                    <form method="POST" action="{% url 'deleted' taskUid=task.id %}" >
                        {%csrf_token%}
                     <button type="submit" class="btn btn-danger">Delete</button>
                     </form>
                    
                </div>
            </div>
        {% empty %}
            <p>No tasks assigned.</p>
        {% endfor %}
    </div>

                
                
               

                </div>
            </div>
        </div>
        
   

{% endblock %}
